$color-bg-primary: #FFFBEB;


$color-primary: #F8CBA6;
$color-secondary: rgba(235, 167, 42);
$color-tertiary: #ECF9FF;


$color-light-blue: #ECF9FF;
$color-grey-dark: rgb(95, 95, 95);
$color-black: #000;
$color-white: #fff